run = "nom run start"
modules = ["nodejs-20", "web", "python-3.12"]
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "nom run start"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 45353635
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 server.py"

[[ports]]
localPort = 5000
externalPort = 80
