run = "nom run start"
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "nom run start"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 45353635
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve -s . -p 5000"
