run = "npm run dev"
modules = ["nodejs-20", "web", "python-3.12"]
[nix]
channel = "stable-25_05"
packages = ["tree", "python311", "python311Packages.pip"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 45353635
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 server.py"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5002
externalPort = 3001
